
<form class="" action="/figures/<%=@figure.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>
    <h1>Edit this Figure!</h1>
    <label for="figure_name">NAME:</label>
    <input id="figure_name" type="text" name="figure[name]" value="<%=@figure.name%>">
  </p>
  <p>
    <label for="">Select Title Name</label>
      <% @titles.each do |title| %>
      <ul>
        <label for="title_<%=title.id%>"><%=title.name%></label>
        <input <%= "checked" if @figure.title_ids.include?(title.id)%> type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id%>">
      </ul>
        <% end %>
  </p>
  <p>
    <label for="">Select Landmark Name</label>
      <% @landmarks.each do |landmark| %>
      <ul>
        <label for="landmark_<%=landmark.id%>"><%=landmark.name%></label>
        <input <%= "checked" if @figure.landmark_ids.include?(landmark.id)%> type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id%>">
      </ul>
      <% end %><br>
    </ul>
  </p>
  <p>
    <label for="">Landmark Name</label>
    <input id="new_landmark" type="text" name="landmark[name]" value="">
  </p>
  <p>
    <label for="">Title Name</label>
    <input id="new_title" type="text" name="title[name]" value="">
  </p>
  <input type="submit" name="" value="Edit Figure">
</form>
